services:
  web:
    build: .
    ports:
      - "8088:80"
    volumes:
      - .:/var/www/html
    links:
      - db
  db:
    image: mysql:5.7
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "quanly_sv"
    volumes:
      # Ánh xạ file sql để tự động tạo database khi khởi động
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql