version: '3'
services:
  web:
    image: webdevops/php-apache:5.6
    ports:
      - "8088:80"
    volumes:
      - .:/app
    environment:
      - WEB_DOCUMENT_ROOT=/app
    links:
      - db
  db:
    image: mysql:5.7
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"